{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    14 Road One (1), Onigbodogi,<br />
    Apete, Ibadan, Oyo State. NG <br />
    <abbr title="Phone">P:</abbr>
    +2348105079119
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:oyladebun@gmail.com">oyladebun@gmail.com</a><br />
    <strong>Technical Support:</strong> <a href="mailto:deft.dev.solutions@gmail.com">deft.dev.solutions@gmail.com</a>
</address>

{% endblock %}
