{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Placeholder text</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus adipisci atque consequatur cumque debitis distinctio eaque, quod ratione voluptate voluptatibus?
        Error harum iusto modi molestiae nulla provident temporibus vitae voluptatibus!</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Far far away</h2>
        <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kafka</h2>
        <p>One morning, when Gregor Samsa woke from troubled dreams,
            he found himself transformed in his bed into a horrible vermin.
            He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
            slightly domed and divided by arches into stiff sections. The</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pangram</h2>
        <p>The quick, brown fox jumps over a lazy dog.
            DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps.
            Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!
            Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
